body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 65);
   }

header h1.name{
color: rgb(30, 229, 233);
font-family: Arial, serif;
font-weight: 100px;
font-size: 200px;
}

header{
    display: inline-block;
}
header h1{
    padding: 0;
    margin: 0;
}

header h2.jobs{
color: rgb(30, 229, 233);
font-family: Arial;
font-weight: 20px;
font-size: 30px;
letter-spacing: 0.4em;

}
header h2{
    position: relative;
    left: 50px;
    bottom: 60px;
}