body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 65);
   }

header h1 button{
color: rgb(30, 229, 233, 0.7);
font-family: 'Jost', Arial, serif;
font-size: 80px;
font-weight: 300;
text-shadow: 10px 10px 10px rgb(0, 0, 5);
background-color: rgb(10, 10, 65);
border: none;
}
.onstyle{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 10px rgb(30, 229, 233);
}

header{
    display: inline-block;
    padding-left: 20px;
}
header h1{
    padding: 0;
    margin: 0;
}

header h2.jobs{
color: rgb(30, 229, 233, 0.7);
font-family: 'Jost',Arial, serif;
font-size: 18px;
font-weight: 300;
letter-spacing: 0.3em;
text-shadow: 10px 10px 10px rgb(0, 0, 5);

}
header h2{
    position: relative;
    left: 50px;
    bottom: 25px;
}
.navbar{
    position: fixed;
    width: 200px;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;

}
ul{
    color: rgb(30, 229, 233, 0.7);
    font-family: 'Jost',Arial, serif;
    font-size: 25px;
    font-weight: 200;
    list-style: none;
    padding-left: 5px;
    text-shadow: 10px 10px 10px rgb(0, 0, 5);
    
}
ul li{
    padding: 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 5px rgb(30, 229, 233);
}
