body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 65);
   }
   
/* 1."Leia Hopf" Title Styling*/
header h1 button{
font-family: 'Jost', Arial, serif;
font-size: 80px;
font-weight: 300;
background-color: rgb(10, 10, 65);
border: none;
cursor: help;
}

header h1 button:focus{ 
    outline: none; 
}

   /*On/Off Toggle*/
.offstyle{
    color: rgb(30, 229, 233, 0.7);
    text-shadow: 10px 10px 10px rgb(0, 0, 5);
}
.onstyle{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 10px rgb(30, 229, 233);
}
header{
    padding-left: 20px;
}
header h1{
    padding: 0;
    margin: 0;
}

/*2. Subtitle*/
header h2.jobs{
color: rgb(30, 229, 233, 0.7);
font-family: 'Jost',Arial, serif;
font-size: 18px;
font-weight: 300;
letter-spacing: 0.3em;
text-shadow: 10px 10px 10px rgb(0, 0, 5);
}
header h2{
    position: relative;
    display: inline-block;
    left: 50px;
    bottom: 25px;
}

/*3. Navbar*/
.navbar{
    position: fixed;
    width: 200px;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
}
section.navbar ul{
    list-style: none;
    padding-left: 5px;
}
section ul li{
    padding: 20px 0 0 0;
}
section.navbar ul li a{
    color: rgb(30, 229, 233, 0.7);
    font-family: 'Jost',Arial, serif;
    font-size: 25px;
    font-weight: 200;
    list-style: none;
    padding-left: 5px;
    text-shadow: 10px 10px 10px rgb(0, 0, 5);
    text-decoration: none;
}
section.navbar ul li a:hover{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 5px rgb(30, 229, 233);
}

/*4. Styling for About/Projects/Research Sections*/
section.main-content{
   display: inline-block;
   width: 60%;
   height: auto;
   margin: 10vh 15%;
   padding: 10px;
   color: rgb(30, 229, 233, 0.7);
   font-family: 'Jost', Arial, serif;
   text-shadow: 10px 10px 10px rgb(0, 0, 5);
   background-color: rgb(10, 10, 65);
   text-align: justify;
}
/*Section Title*/
section h2{
    display: relative;
    margin: 0;
    font-size: 40px;
    font-weight: 200;
}
/*Section Content*/
section p{
    font-size: 20px;
    font-weight: 100;
}

.pink-link{
    color: rgb(230, 100, 115);
    text-decoration: none;
    cursor: pointer;
}
.pink-link:hover{
    color: rgb(250, 0, 115);
    text-shadow: 4px 4px 5px rgb(250, 0, 115);
}

/*Projects*/
section div.projects-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
section div div.project{
    content: '';
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 1px solid rgb(30, 229, 233);
    border-radius: 5px;
    cursor: pointer;
}
section div div.project:hover{
    box-shadow: 0px 0px 15px rgb(30, 229, 233);
}

/*5. Footer*/
button#contacts-button{
    color: rgb(30, 229, 233, 0.7);
    font-size: 1.5em;
    background-color: rgb(10, 10, 65);
    border: none;
    cursor: pointer;
    margin: 10px;
    position: fixed;
    bottom: 3vh;
    left: 0;
    z-index: 999;
}
button#contacts-button:focus{ 
    outline: none; 
}
button#contacts-button:hover{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 5px rgb(30, 229, 233);
}
section.footer{
    background-image: linear-gradient(to top, rgba(10, 10, 65, 1), rgba(10, 10, 65, 1), rgba(10, 10, 65, 0));
    position: fixed;
    bottom: 0;
    height: 15vh;
    width: 100%;
    display: block;
    bottom: -200px;
    transition: all 500ms linear;
}
section.active{
    bottom: 0px;
}
section.footer div.contacts-list{
    width: 50%;
    height: 80%;
    margin: 0 auto;
}
section div ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100%;
}
section div ul li a{
    font-size: 30px;
    color: rgb(30, 229, 233, 0.7);
    font-family: 'Jost',Arial, serif;
    text-decoration: none;
}
section div ul li a:hover{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 5px rgb(30, 229, 233);
}
section div ul li{
    list-style: none;
    padding: 0 5px; 
    margin: auto;
}
section.footer div.copyright{
    background-color: rgb(30, 229, 233, 0.7);
    color:rgb(10, 10, 65);
    width: 100%;
    padding: 3px 5px;
    bottom: 0;
    display: flex;
}
section.footer div.copyright p{
    margin: 0 auto;
    font-family: 'Jost', Arial, serif;
    font-weight: 400;
    font-size: 0.8em;
}

/* Media Queries*/
@media only screen and (max-width: 1000px) {
  
    .navbar{
    width: 150px;
    }
}

@media only screen and (max-width: 700px) {
  
 header{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 header h1 button{
    padding: 0;
 }
 header h2{
    left:0;
    bottom:0;
 }

 section.navbar{
    position: static;
    width: auto;
    height: auto;
    }
 section.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
 section.navbar ul li{
    padding: 0px;
    }

section.main-content{
    margin: 6vh 20%;
    }
}