body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 65);
   }
/* "Leia Hopf" Title Styling*/
header h1 button{
color: rgb(30, 229, 233, 0.7);
font-family: 'Jost', Arial, serif;
font-size: 80px;
font-weight: 300;
text-shadow: 10px 10px 10px rgb(0, 0, 5);
background-color: rgb(10, 10, 65);
border: none;
cursor: help;
}
.onstyle{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 10px rgb(30, 229, 233);
}
header{
    display: fixed;
    padding-left: 20px;
}
header h1{
    padding: 0;
    margin: 0;
}
/*Subtitle*/
header h2.jobs{
color: rgb(30, 229, 233, 0.7);
font-family: 'Jost',Arial, serif;
font-size: 18px;
font-weight: 300;
letter-spacing: 0.3em;
text-shadow: 10px 10px 10px rgb(0, 0, 5);
}
header h2{
    position: relative;
    display: inline-block;
    left: 50px;
    bottom: 25px;
}
/*Navbar*/
.navbar{
    position: fixed;
    width: 200px;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
}
ul{
    list-style: none;
    padding-left: 5px;
}
section ul li{
    padding: 20px 0 0 0;
}
ul li a{
    color: rgb(30, 229, 233, 0.7);
    font-family: 'Jost',Arial, serif;
    font-size: 25px;
    font-weight: 200;
    list-style: none;
    padding-left: 5px;
    text-shadow: 10px 10px 10px rgb(0, 0, 5);
    text-decoration: none;
}
a:hover{
    color: rgb(30, 229, 233);
    text-shadow: 4px 4px 5px rgb(30, 229, 233);
}
/*Styling for About/Contact/Projects/Reserach Sections*/
section.main-content{
   display: inline-block;
   width: 60%;
   margin: 10vh 15%;
   padding: 10px;
   color: rgb(30, 229, 233, 0.7);
   font-family: 'Jost', Arial, serif;
   text-shadow: 10px 10px 10px rgb(0, 0, 5);
   background-color: rgb(10, 10, 65);
   text-align: justify;
}
/*Section Title*/
section h2{
    display: relative;
    margin: 0;
    font-size: 40px;
    font-weight: 200;
}
/*Section Content*/
section p{
    font-size: 20px;
    font-weight: 100;
}

.pink-link{
    color: rgb(230, 100, 115);
    text-decoration: none;
}
.pink-link:hover{
    color: rgb(250, 0, 115);
    text-shadow: 4px 4px 5px rgb(250, 0, 115);
}

/*Projects*/
section div.projects-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

section div div.project{
    content: '';
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 1px solid rgb(30, 229, 233);
    border-radius: 5px;
}
section div div.project:hover{
    box-shadow: 0px 0px 15px rgb(30, 229, 233);
}

/*Footer*/
.main{
    height: 100vh;
}
.footer{
    z-index: 1;
    height: 15vh;
}
section div ul li a{
    font-size: 30px;
    padding-top: 0;
}
section div ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}